body {
    font-family: sans-serif;
}
.navbar {
    background-color: #fff;
}

.nav .nav-link.active {
    background-color: #000;
    color: #fff;
}

.nav .nav-link,
.navbar-brand{
    color: #000;
}

